<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876776976367-spedn7ln9vjc0dkokk26jn07gofga3ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876776976367-spedn7ln9vjc0dkokk26jn07gofga3ol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876776976367-j4dibt9stkcvodl6gqnb34ruc2gscrco.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0qzszwKUeV7g000W995QPibRIHruCvKw</string>
	<key>GCM_SENDER_ID</key>
	<string>876776976367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graybuster.nekowallet</string>
	<key>PROJECT_ID</key>
	<string>realtimemessnger</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimemessnger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876776976367:ios:a1e136ed6e78e6af03901a</string>
	<key>DATABASE_URL</key>
	<string>https://realtimemessnger.firebaseio.com</string>
</dict>
</plist>